/* navbar */
.fix-block {
  width: 100%;
  /* height: 60px; */
  position: fixed;
  z-index: 5;
}
/* .navbar {
  position: fixed;
  top: 0;
  left: 0;
  opacity: .7;
} */


/* sectuion 1 */

.carousel-config {
  background-color: rgb(2, 2, 2);
  width: 100%;
  height: 75vh;
  min-height: 600px;
}


.carousel-config .carousel-inner {
  height: 100%;
  width: 100%;
}

.carousel-config .carousel-item {
  height: 100%;
  width: 100%;
}
.carousel-config .slide-pic {
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* padding: 0px 0px 20px; */
}

.carousel-config .carousel-indicators button {
  height: 5px;
}




/* section 3 */
.card .card-body {
  background-position: center 10%;
  background-size: cover;
}



.card-hover {
  opacity: 0;
  background-color: rgba(70, 70, 70, 0.329);
  width: 100%;
  height: 100%;
}

.card-hover:hover {
  opacity: 1;
  transition: opacity 0.8s;
}


/* in section 4 */
/* father must be relative */

.news-info-b {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 5%;
  position: absolute;
  background-color: rgba(0, 0, 0, .3);
  color: white;
  width: 100%;
  height: 100%;
}

.news-info-b:hover {
  opacity: 1;
  transition: opacity 0.8s;
}

.news-info-b .title {
  font-weight: 700;
}

.news-info-b .sub-title {}

.news-info-s {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 3%;
  position: absolute;
  background-color: rgba(0, 0, 0, .3);
  color: white;
  width: 100%;
  height: 100%;
}

.news-info-s:hover {
  opacity: 1;
  transition: opacity 0.8s;
}

.news-info-s .title {
  font-weight: 400;
}

.news-info-s .sub-title {}

/* footer */
.main-footer {
  padding: 30px 20px 0;
}



/* player pages */
.pages .banner {
  height: 80vh;
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: center center;
  overflow: hidden;
}

.pages .animate-area {
  opacity: 0;
  animation: fade-in-move 0.8s forwards;
}

@keyframes fade-in-move {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}


/* widgets area */
/* 56px */
.toTop-arrow {
  width: 3.5rem;
  height: 3.5rem;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 33%;
  opacity: 0.6;
  background: rgb(247, 155, 69);
  cursor: pointer;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: none;
  z-index: 1;
}

.toTop-arrow::before, .toTop-arrow::after {
  width: 31px;
  height: 7px;
  border-radius: 3px;
  background: white;
  position: absolute;
  content: "";
}

.toTop-arrow::before {
  transform: rotate(-45deg) translate(0, -50%);
  left: 0.4rem;
}

.toTop-arrow::after {
  transform: rotate(45deg) translate(0, -50%);
  right: 0.4rem;
}

.toTop-arrow:focus {
  outline: none;
}
/* counter */
.count {
  text-align: right;
  margin-top: 20px;
}